.posts{
    margin-top: var(--scale-dimension-size-400);
    
    /* display: grid;
    grid-template-columns: 1fr 1fr; */

}

.postsLinks {
    width: 100%;
}

.postListItem {
    width: 100%;    
    border-bottom: 1px solid var(--semantic-border-divider);
}

.postInfo {
    margin-bottom: var(--scale-dimension-size-400);
    width: 70%;    
}

.postInfo h6 {
    margin-bottom: var(--scale-dimension-size-75);
    margin-top: var(--scale-dimension-size-400);
}

.postNote {
    margin-bottom: var(--scale-dimension-size-125);
    line-height: var(--static-medium);
}

.postNote{
    font-size: var(--scale-dimension-font-size-100);
    
}

.postDate {
    font-size: var(--scale-dimension-font-size-75);
    color: var(--color-gray-500);
}




.postHoverImage {
    visibility: hidden; 
    opacity: 0; 
    width: 80px; 
    padding-bottom: 80px; 
    /* border-radius: var(--scale-radius-full); */
    position: absolute; 
    transform: translate(20%, 20%) scale(0.5);           
    z-index: 9; 
    background-size: cover;         
    transition: opacity 0.1s, visibility 0.1s, transform 0.4s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

.postHoverImage.showImage {
    visibility: visible;
    opacity: 1;
    transform: translate(20%, 20%) scale(1);
}