.projects {
    margin-bottom:var(--scale-dimension-size-300);
    border-top: 1px solid var(--semantic-border-divider);
}

.prjList {
    width: 100%;
}

.prjContents {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--semantic-border-divider);
    align-items: center;
    padding-top: var( --scale-dimension-size-150);
    padding-bottom: var( --scale-dimension-size-150);
}


.prjInfo {
    width: 62%;
    margin-right: var(--scale-dimension-size-700);
}
.prjInfo h6 {
    margin-bottom: var(--scale-dimension-size-75);
}
.projInfoText {
    margin-bottom: var(--scale-dimension-size-125);
    line-height: var(--static-small);
}

.prjInfoItem {
    font-size: var(--scale-dimension-font-size-75);
    color: var(--color-gray-500);
    display: flex;
    align-items: center;
}

.prjInfoItem p {
    margin: 0;
}


.prjInfoItem p a {
    color: var(--color-gray-500);
}


.prjImageWrap{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: var(--scale-dimension-size-3000);
    height: 90%;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    inset: 0px;
}

.prjImage {
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}


@media (max-width: 720px) {
    .projects {
        border-top: 0px;
    }

    .prjList {
        margin-bottom: 24px;
    }
 

.prjContents {
    height: 360px;
    flex-direction: column-reverse;
    justify-content:flex-end;
    border-bottom: 0px;
    align-items: flex-start;
    padding-top: var( --scale-dimension-size-0);
    background-color: var(--semantic-surface-contents);
    border-radius: var(--scale-radius-5);
    overflow: hidden;
}


.prjInfo {
    width: 80%;
    margin-right: var(--scale-dimension-size-0);
    margin-left: var(--scale-dimension-font-size-500);
    margin-bottom: var(--scale-dimension-font-size-50);
    margin-top: var(--scale-dimension-font-size-500);
}

.projInfoText {
    font-size: 15px;
    line-height: var(--static-medium);
    margin-bottom: var(--scale-dimension-size-250);

}

.prjInfoItem {
    font-size: var(--scale-dimension-font-size-75);
    color: var(--color-gray-500);
    display: flex;
    align-items: center;
}

.prjInfoItem p {
    margin: 0;
}


.prjInfoItem p a {
    color: var(--color-gray-500);
}


.prjImageWrap{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 100%;
    background: none;
    opacity: 1;
}

.prjImageWrap img{
    border-radius: 0px;
}

.prjImage {
    min-height: 100%;
}

.prjImage:hover {
    transition: all .5s;
    transform: scale(1.1);
}


  }