.topabarSub {
    position: sticky;
    top: 0;
  }
  
  .topabarSubLayout {
    display: flex;
    align-items: center;
    height: 92px;
    background-color: var(--semantic-surface);
    /* transition: top 0.3s ease-in-out; */
  }
  
  .topabarSub.hidden {
    top: -92px;
  }
  
  .topabarSub.visible {
    top: 0;
  }
  