.header {
  width: 100%;
  margin-top: 32px;
  width: 100%;
}

.container{ 
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.intro {
  width: 80%;
}

.intro h6 {
  font-weight: var(--regular);
  line-height: var(--static-medium);
}