.header {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.container{ 
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.paragraphText {
  width: 80%;
  word-break: keep-all;
  margin-bottom: 16px;
}

.paragraphText h6 {
  font-weight: var(--regular);
  line-height: var(--static-medium);
  /* font-size: 15px; */
}