.control {
    display: flex;
    position: fixed;
    bottom: var(--scale-dimension-size-150);
    right:var(--scale-dimension-size-300);
    z-index: 10;
}

.control button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: var(--scale-dimension-size-600); 
    width:var(--scale-dimension-size-600); 
    border: var( --scale-dimension-size-0); 
    border-radius: var(--scale-radius-full);
    background-color: var(--semantic-surface-contents);
    color :var(--semantic-on-surface);
    cursor: pointer;

}

.controlLang{
    margin-right: var(--scale-dimension-size-150);
}
