@import url(./foundation/_foundation.css);


body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--semantic-surface);
  color: var(--semantic-on-surface);
}


/* Option : theme 변환시에 색상이 자연스럽게 변환되는 애니메이션  */
.theme-transition,
.theme-transition *,
.theme-transition *:before,
.theme-transition *:after {
  transition-property: top, background-color, border-bottom, border-top;
  transition-duration: 0.5s;
}