@import url(./foundation/_foundation.css);


body {
  width: 100%;
  height: auto;
  min-height : 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--semantic-surface);
  color: var(--semantic-on-surface);
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: var(--color-gray-800);
  text-decoration: none;
}

img {
  width: 100%;
  border-radius: var(--scale-radius-3);
}

button {
  background-color: var(--semantic-surface-contents);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: var(--scale-radius-2);
  border: none;
}

/* 마크다운 */
iframe {
  width: 100%;
  height: 400px;
  border-radius: var(--scale-radius-3);
}

li,
ul,
ol {
  line-height: var(--static-medium);
  padding-inline-start: 0.75rem;
  margin: 0;
}

ul, ol {
  margin-left: var(--scale-dimension-size-75);
}

li {
  padding-left: var(--scale-dimension-size-0);
}

li::marker {
  color: var(--color-gray-500);
}

li>p {
  margin: var(--scale-dimension-size-0);
}

p {
  margin-top: var(--scale-dimension-size-200);
  margin-bottom: var(--scale-dimension-size-200);
}

table {
  width: 100%;
  background-color: var(--semantic-surface-contents);
  border-spacing: var(--scale-dimension-size-0);
  border-radius: var(--scale-radius-3);
  margin-bottom: var(--scale-dimension-size-200);
  overflow: hidden;
}

thead {
  height: var(--scale-dimension-size-500);
  background-color: var(--color-gray-alpha-25);
  text-align: left;
}

tbody {
  height: var(--scale-dimension-size-500);
}

tr {
  height: var(--scale-dimension-size-500);
}

tr:nth-child(2n + 0) {
  background-color: var(--color-gray-alpha-25);
}

th,
td {
  padding: var(--scale-dimension-size-200);
}

blockquote {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: var(--scale-dimension-size-200);
  color: var(--color-gray-600);
  background-color: var(--semantic-surface-contents);
  border-radius: var(--scale-radius-1) var(--scale-radius-3) var(--scale-radius-3) var(--scale-radius-1);
  border-left: var(--scale-dimension-size-25) solid var(--color-gray-alpha-50);
}

.footnotes {
}

.sr-only {
  font-size: 24px;
}

/* form */
/* layout */
/* links */

.links {
  text-decoration: none;
  color: var(--color-gray-800);
  cursor: pointer;
}

.links:hover {
  color: var(--color-gray-600);
}

.links-secondary {
  text-decoration: none;
  color: var(--color-gray-600);
  cursor: pointer;
}

.links-secondary:hover {
  color: var(--color-gray-700);
}

/* Option : theme 변환시에 색상이 자연스럽게 변환되는 애니메이션  */
.theme-transition,
.theme-transition *,
.theme-transition *:before,
.theme-transition *:after {
  transition-property: top, background-color, border-bottom, border-top;
  transition-duration: 0.5s;
}


@media (max-width: 720px) {
  body {
    width: 86%;
    margin: 0 auto;
  }

}


